body {
  background-color: pink;
  font-family: 'Open Sans', sans-serif;
  margin-right: 20%;
margin-left: 20%;
}

#complaint {
	padding: 40px;
}
#complaint section {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#complaints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
	display: block;
	padding: 30px;
}
